spring:
  application:
    name: DormitoryManagementSystem
  
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dormitory_db?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: waxyf2022
  
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB
  
  security:
    user:
      name: admin
      password: admin

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.nijika.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

server:
  port: 8080

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

knife4j:
  enable: true
  setting:
    language: zh_cn

file:
  upload-path: /uploads/
